
#all-content{
    margin-left: 3%;
    margin-right: 3%;
}



.navbar-brand {
    margin-left: 5%;
}

.card {
    margin-bottom: 0.1%;
    margin-top: 0.6%;
    margin-left: 1%;
    margin-right: 1%;
    
}